[submodule "submodules/CocoR-CPP"]
	path = submodules/CocoR-CPP
	url = ../../SSW-CocoR/CocoR-CPP.git
	branch = main

[submodule "submodules/SDL2"]
	path = submodules/SDL2
	url = ../../libsdl-org/SDL.git
	branch = SDL2
